*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/***
    #CE1126
    #000000
    #007A3D
    main-color : #95AE74  
   font-family: 'El Messiri', sans-serif;
***/
:root
{
    --main-color : #95AE74;
}
body
{
    font-family: 'El Messiri', sans-serif;
    direction: rtl;
}
/*** Start Header ***/
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 2;
}
.header .toggler
{
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
}
.header .searchBox
{
    position: relative;
    width: 230px;
    border-radius: 20px;
    border : 2px solid var(--main-color);
    transition: .7s opacity ease-in-out;
}
.header .searchBox.hidden
{
    opacity: 0;
}
.header .searchBox input
{
    padding: 7px 20px;
    outline: none;
    border : none ;
    width: 100%;
    background: #ffffff80;
    font-size: 19px;
    border-radius: inherit;
}
.header .searchBox .search-icon
{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
/**** End Header ****/
/*** Start landing ***/
.landing
{
    min-height: 100vh;
    display: flex;
    position: relative;
    background-color: #fff;
    padding-top: 100px;
}
.bg
{
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    background: url(./images/half.png) center center/100% 100% ;
}
.right
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;

}
.right h3
{
    font-size: 3em;
    width: 100%;
    text-align: start;
    color: #283233;

}
.right h3 span
{
    color: var(--main-color);
}
.right .logo
{
    width: 100%;
    height: 300px;
    background: url(./images/logo.png) center center/ 80% 80% no-repeat;
    margin: 30px 0;
}
.right button
{
    outline: none;
    border : none;
    background: var(--main-color);
    width: 180px;
    padding: 5px 25px;
    border-radius: 20px;
    color: #fff;
    font-size: 1.2em;
    font-family: 'El Messiri', sans-serif;
    cursor: pointer;
}
.social
{
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.social .icon
{
    margin: 10px 0;
    border : 2px solid #283233;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}
/*** Slider ****/
.slider
{
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 30px;
    width: 300px;
    color: #283233;
    font-size: 1.4em;
    overflow: hidden;
}
.slider .slider-wrapper
{
    display: flex;
    transition: .7s margin ease;
}
.slider .text
{
    flex-shrink: 0;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.leftQuote
{
    position: absolute;
    left: 5px ;
    top: 5px;
    opacity: .7;
}
.rightQuote
{
    position: absolute;
    right: 5px ;
    bottom: 5px;
    opacity: .7;
}
.controls
{
    position: absolute;
    bottom: 20px;
    width: 300px;
    left: 30px;
    display: flex;
    justify-content: center;
}
.controls > div
{
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    color: #fff;
    margin: 0 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}
/**** Nav ****/
#nav
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom , #000 33.33% , #fff 33.33% ,#fff 66.66%, #007A3d 66.66% , #007A3d 100%)
    ;
    clip-path: circle(0% at 100% 0);
    transition: 1s clip-path ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

}
#nav.active 
{
    clip-path: circle( 100%);
}
#nav::after
{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 50vh solid transparent;
    border-left-color: #ce1126;
    pointer-events: none;
    z-index: -1;
}
#nav li
{
    margin: 20px 0;
    list-style: none;
}
#nav li a
{
    font-size: 3em;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0,0,.6);
    transition: 1s all ease-in-out;
    z-index: 3;
}
#nav li::before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #007A3d;
    font-weight: 700;
    font-size: 10em;
    letter-spacing: 10rem;
    pointer-events: none;
    transition: .7s all ease-in-out;
    opacity: 0;
    z-index: 2;
}
#nav li:hover::before
{
    opacity: .5;
    letter-spacing: 0;
}
#nav li a:hover
{
    transform: scale(1.7);
}
#nav li::after
{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 70vh;
    pointer-events: none;
    z-index: 1;
    transition: .7s all ease-in-out;
    opacity: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px 2px rgba(0, 0,0,.6);
}
#nav li:hover::after
{
    top: 50%;
    opacity: .3;
}
#nav li:first-of-type:after
{
    background-image: url(./images/qods.jpg) ;
}
#nav li:nth-of-type(2)::after
{
    background-image: url(./images/hefa.jpg) ;
}
#nav li:nth-of-type(3)::after
{
    background-image: url(./images/yafa.jpg) ;
}
#nav li:nth-of-type(4)::after
{
    background-image: url(./images/khalil.jpg) ;
}
#nav li:nth-of-type(5)::after
{
    background-image: url(./images/gaza.jpg) ;
}
@media (max-width : 768px)
{
    body
    {
        font-size: 12px;
    }
    .header
    {
        padding: 0 10px;
    }
    .bg
    {
        width: 100%;
    }
    .landing 
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right
    {
        position: relative;
        width: 100%;
        padding: 20px 0;
        padding-right: 20px;
        background-color: rgba(255,255,255,.6);
    }
    .right h3
    {
        text-align: center;  
    }
    .slider,.controls
    {
        position: static;
        background-color: rgba(255,255,255,.6);
        z-index: 1;
        margin-top: 20px;
    }
    .controls
    {
        background: none;
    }
    .right .logo
    {
        height: 250px;
    }
    .social
    {
        bottom: 50%;
        transform: translateY(50%);
        right: 10px;
    }
}
@media (max-width : 600px)
{
    .right .logo
    {
        height: 150px;
    }
    #nav li::before
    {
        font-size: 5em;
    }
}
